.field-set {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4vw;
    background-image: url("../../assets/home/field/fieldSlide.png");
    object-fit: cover;
}

.field-content {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6vw;
}

.field-content>h3 {
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
}

.field-content-para {
    /* height: 80%; */
    gap: 1vw;
    overflow-y: auto;
    display: flex;
    align-items: center;
    gap: 1vw;
    border: 1px solid white;
    border-radius: 5px;
    padding: .8vw;
}

.field-content-para>p {
    padding: 0;
    margin: 0;
    font-size: 1.2vw;
    color: white;
    margin-bottom: 1rem;
    width: 60%;
    /* height: 100%; */
}

.field-content-para>img {
    width: 38%;
    height: 90%;
    border-radius: 3px;
}

.field-category {
    height: 97%;
    display: flex;
    flex-direction: column;
    gap: .6vw;
    border-radius: 10px;
    padding: 0.3rem;
    justify-content: center;
}


.field-header {
    border-radius: 15px;
    padding: .2rem;
    text-align: center;
    outline: 1px solid rgba(255, 255, 255, 0.682);
}

.field-header:hover {
    cursor: pointer;
    outline: 2px solid white;
}

.field-header-active {
    outline: 2px solid white;
}

.field-header>h5 {
    margin: 0;
    padding: 0;
}

.field-header>img {
    height: 3rem;
    width: 3rem;
}

.field-header-active {
    background-color: white;
}

.tooltip-hidden {
    display: none !important;
}

@media only screen and (max-width:770px) {
    .field-set {
        flex-direction: column-reverse;
        gap: 2.5vw;
        height: 28rem;
    }

    .field-content{
        height: 20rem;
        width: 90%;
    }

    .field-content-para{
        flex-direction: column;
        height: 90%;
        border-bottom: 3px solid white;
    }

    .field-content>h3{
        font-size: 2rem;
    }

    .field-content-para>img{
        object-fit: cover;
        height:10rem;
        width: 100%;
    }

    .field-content-para>p{
        width: 100%;
        text-align: justify;
        font-size: .9rem;
    }

    .field-category{
        flex-direction: row;
        height: 4rem;
        gap: .4rem;
    }

}