@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Old+Standard+TT:ital@1&display=swap');

.nta-gallery-section {
    height: 38rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nta-header {
    transform: rotate(-90deg);
    font-size: 2.4vw;
    font-family: 'Dancing Script', cursive;
    margin: 8rem -3.5rem 0 0;
    align-self: flex-start;
}

.nta-gallery {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
}


@media only screen and (max-width: 770px) {
    .nta-gallery-section {
        display: none;
        gap: 4vw;
        width: 100%;
        margin-bottom: 4vw;
    }
    
}

