.main-navigation{
    padding: 0 1.5vw;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.main-nav-logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    overflow: hidden;
}


.main-nav-logo>img{
    object-fit: contain;
    height:50%;
}

#main_nta_logo{
    height: 95%;
    width: 16rem;
}

.navlinks{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7vw;
}

.left-main-nav{
display: flex;
justify-content: center;
align-items: center;
gap: 1vw;
height: 100%;
}