.image-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

.image-slider>img {
    width: 63vw;
    object-fit: cover;
    border-radius: 5px;
    color: white;
    border: 4px solid white;
}

.dot-array {
    display: flex;
    flex-direction: column;
    gap: .2vw;
}

.dotStyle {
    color: white;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dotStyle:hover {
    color: rgb(239, 224, 10);
}

.dotStyle-active {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(239, 224, 10);
    font-size: 3vw;
}

/* image-content--------------- */

.image-slider-content {
    height: 74%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-slider-content>a {
    padding: 0;
    margin: 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider-content>a>img {
    width: 100%;
    object-fit: contain;
}

/* nta-exam------------------------ */

.nta-exam-slider {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nta-exam-slider>svg {
    font-size: 2rem;
}

.nta-exam-slider>svg:hover {}

.nta-exam-image-slider {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.nta-exam-image-slider::-webkit-scrollbar {
    width: 0.5em;
}

.nta-exam-image-slider::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.nta-exam-content {
    background-color: rgb(231, 231, 231);
    width: 15.5%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .6vw;
    border-radius: 5px;
    gap: .4vw;
    height: 89%;
}

.nta-exam-content>h3 {
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    width: 100%;
    color: white;
    background-color: var(--blue-background);
    text-align: center;
    border-radius: 5px;
}

.nta-exam-content>img {
    height: 50%;
    width: 100%;
}

.nta-exam-content>h5 {
    margin: 0;
    padding: .1vw .4vw;
    font-weight: bold;
    color: white;
    background-color: var(--blue-background);

}

.nta-exam-content>p {
    padding: 0;
    margin: 0;
    font-size: 1vw;
    text-align: center;
}

/* ---------------------------------- */

@keyframes scroll {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.animate {
    animation: scroll 15s linear infinite;
}