.home{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.home-manage{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
}

@media only screen and (max-width:770px){
    .home{
        align-items: center;
    }

    .home-manage{
        width: 100%;
        height: unset;
        flex-direction: column;
    }
}